{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="about-page">This is the About page</h1>
                <p>This is a paragraph of data</p>
            </div>
        </div>
    </div>
{{end}}